In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('digirounds.csv', header=None)
df = df.T
df.columns = df.iloc[0]
df = df.drop(df.index[0])
df = df.set_index(['week', 'day'])
df = df.astype('int')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15 entries, (week 1, Monday) to (week 3, Friday)
Data columns (total 10 columns):
time                        15 non-null int64
patients                    15 non-null int64
new patients                15 non-null int64
prescribing                 15 non-null int64
microbiology                15 non-null int64
radiology_interpretation    15 non-null int64
radiology_results           15 non-null int64
eDocs                       15 non-null int64
relogins                    15 non-null int64
battery                     15 non-null int64
dtypes: int64(10)
memory usage: 1.4+ KB

In [5]:
df['time per patient'] = df['time'] / df['patients']

In [6]:
cols = df.columns.tolist()
cols.insert(2, cols[-1])
cols = cols[:-1]
df = df[cols]

In [7]:
df

0                 time  patients  time per patient  new patients  prescribing  \
week   day
week 1 Monday       90         5         18.000000             0            3
       Tuesday     173         8         21.625000             2            1
       Wednesday   166         8         20.750000             3            3
       Thursday    162         9         18.000000             2            2
       Friday      148         9         16.444444             1            2
week 2 Monday      167        10         16.700000             3            3
       Tuesday     145         8         18.125000             0            2
       Wednesday   124         8         15.500000             3            3
       Thursday    165        10         16.500000             2            1
       Friday      150        11         13.636364             1            2
week 3 Monday      106        12          8.833333             2            0
       Tuesday      98        13          7.538462             1            1
       Wednesday    95        14          6.785714             1            3
       Thursday     91         7         13.000000             2            3
       Friday       98        10          9.800000             3            3

0                 microbiology  radiology_interpretation  radiology_results  \
week   day
week 1 Monday                0                         1                  1
       Tuesday               1                         1                  1
       Wednesday             0                         1                  1
       Thursday              0                         1                  1
       Friday                1                         0                  0
week 2 Monday                2                         1                  1
       Tuesday               0                         0                  2
       Wednesday             0                         2                  2
       Thursday              1                         0                  1
       Friday                1                         0                  0
week 3 Monday                1                         2                  1
       Tuesday               1                         2                  1
       Wednesday             0                         2                  1
       Thursday              1                         0                  1
       Friday                0                         2                  0

0                 eDocs  relogins  battery
week   day
week 1 Monday         1         1        1
       Tuesday        1         0        0
       Wednesday      1         3        0
       Thursday       1         2        0
       Friday         0         1        0
week 2 Monday         0         2        0
       Tuesday        0         0        0
       Wednesday      1         2        0
       Thursday       1         2        0
       Friday         1         1        0
week 3 Monday         2         0        0
       Tuesday        1         0        0
       Wednesday      1         1        0
       Thursday       1         1        0
       Friday         1         1        0

In [7]:
df.describe()

,time,patients,time per patient,new patients,prescribing,microbiology,radiology_interpretation,radiology_results,eDocs,relogins,battery
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,131.866667,9.466667,14.749221,1.733333,2.133333,0.600000,1.000000,0.933333,0.866667,1.133333,0.066667
std,32.365914,2.356349,4.670027,1.032796,0.990430,0.632456,0.845154,0.593617,0.516398,0.915475,0.258199
min,90.000000,5.000000,6.785714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,98.000000,8.000000,11.400000,1.000000,1.500000,0.000000,0.000000,1.000000,1.000000,0.500000,0.000000
50%,145.000000,9.000000,16.444444,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
75%,163.500000,10.500000,18.000000,2.500000,3.000000,1.000000,2.000000,1.000000,1.000000,2.000000,0.000000
max,173.000000,14.000000,21.625000,3.000000,3.000000,2.000000,2.000000,2.000000,2.000000,3.000000,1.000000

In [1]:
df.to_csv('formatted_digirounds.csv')

NameError: name 'df' is not defined

In [10]:
df.to_hdf('formatted_digirounds.h5', 'fixed')